
node_modules/jquery/AUTHORS.txt
node_modules/jquery/bower.json
node_modules/jquery/dist/jquery.js
node_modules/jquery/dist/jquery.min.js
node_modules/jquery/dist/jquery.min.map
node_modules/jquery/dist/jquery.slim.js
.vscode/launch.json
.vscode/launch.json
